PORT=9004
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/billing"
AUTH_SERVICE=http://localhost:9001
RAZORPAY_KEY_ID="your_razorpay_key_id_here"
RAZORPAY_KEY_SECRET="your_razorpay_key_secret_here"
