PORT=9000
AUTH_SERVICE=http://localhost:9001
CHAT_SERVICE=http://localhost:9002
AGENT_SERVICE=http://localhost:9003
BILLING_SERVICE=http://localhost:9004
FRONTEND_URL="http://localhost:5173"
REDIS_URL="redis://localhost:6379"
